@font-face {
  //font-family: 'AvenirNextLTPro-Thin';
  font-family: 'AvenirNextLTPro';
  font-weight: 100;
  src: url('~static/webfonts/35C0B2_4_0.eot');
  src: url('~static/webfonts/35C0B2_4_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_4_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_4_0.woff') format('woff'), url('~static/webfonts/35C0B2_4_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_4_0.svg#wf') format('svg');
}

@font-face {
  //font-family: 'AvenirNextLTPro-Regular';
  font-family: 'AvenirNextLTPro';
  font-weight: 300;
  src: url('~static/webfonts/35C0B2_1_0.eot');
  src: url('~static/webfonts/35C0B2_1_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_1_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_1_0.woff') format('woff'), url('~static/webfonts/35C0B2_1_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_1_0.svg#wf') format('svg');
}

@font-face {
  //font-family: 'AvenirNextLTPro-Medium';
  font-family: 'AvenirNextLTPro';
  font-weight: 500;
  src: url('~static/webfonts/35C0B2_0_0.eot');
  src: url('~static/webfonts/35C0B2_0_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_0_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_0_0.woff') format('woff'), url('~static/webfonts/35C0B2_0_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('~static/webfonts/35C0B2_2_0.eot');
  src: url('~static/webfonts/35C0B2_2_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_2_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_2_0.woff') format('woff'), url('~static/webfonts/35C0B2_2_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_2_0.svg#wf') format('svg');
}

@font-face {
  //font-family: 'AvenirNextLTPro-Demi';
  font-family: 'AvenirNextLTPro';
  font-weight: 600;
  src: url('~static/webfonts/35C0B2_3_0.eot');
  src: url('~static/webfonts/35C0B2_3_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_3_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_3_0.woff') format('woff'), url('~static/webfonts/35C0B2_3_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_3_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'AvenirNextLTPro-Thin';
  src: url('~static/webfonts/35C0B2_4_0.eot');
  src: url('~static/webfonts/35C0B2_4_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_4_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_4_0.woff') format('woff'), url('~static/webfonts/35C0B2_4_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_4_0.svg#wf') format('svg');
}

@font-face {
  //font-family: 'AvenirNextLTPro-Bold';
  font-family: 'AvenirNextLTPro';
  font-weight: 700;
  src: url('~static/webfonts/35C0B2_5_0.eot');
  src: url('~static/webfonts/35C0B2_5_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_5_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_5_0.woff') format('woff'), url('~static/webfonts/35C0B2_5_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_5_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('~static/webfonts/35C0B2_6_0.eot');
  src: url('~static/webfonts/35C0B2_6_0.eot?#iefix') format('embedded-opentype'), url('~static/webfonts/35C0B2_6_0.woff2') format('woff2'), url('~static/webfonts/35C0B2_6_0.woff') format('woff'), url('~static/webfonts/35C0B2_6_0.ttf') format('truetype'), url('~static/webfonts/35C0B2_6_0.svg#wf') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i');

// Lato Light: 300
// Lato Regular: 400