//@import url("//hello.myfonts.net/count/34a022");

/*******************
  Utility Classes
*******************/

/* selectbox */
.select {
  select {
    width: 100%;
    height:48px;
    line-height: 48px;
    border-bottom: 1px solid #c3c3cd;
    outline: 0 none;
    border-radius : 0 !important;
  }
}
button {
  font-family: inherit;
}

/* sub content */
.sub-area {
  padding: 50px 0 70px 0;
}

.sub-header {
  width: 100%;
  background-size: cover !important;
}

/* common */
.pc-mode {display: block}
.mobile-mode {display: none}


strong {
  font-weight: 500;
}

.btn-try {
  font-size: 10px;
  letter-spacing: 2px;
  padding: 0 20px;
}

.margin0 {margin:0 !important}

.mAuto {
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}


.middle {
  vertical-align: middle;
}

.blind {
  position: absolute;
  text-indent: -9999px
}

.pd-none {
  padding: 0 !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.sub-area {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.input-lowercase {
  text-transform:lowercase;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform:capitalize;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    text-transform:capitalize;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    text-transform:capitalize;
  }
  &:-moz-placeholder { /* Firefox 18- */
    text-transform:capitalize;
  }
}


/* text 말줄임 */
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.multiline {
  display: -webkit-box;
  overflow : hidden;
  width:100%;
  height: 33px;
  line-height: 20px;
  color: #232328;
  font-size: 15px;
  font-family: $font-lato;
  letter-spacing: 0.3px;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* Responsive - Image */
.img-responsive {
  max-width: 100%;
  height: auto;
}

/* Responsive - VIdeo */
.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:-1;
  &.main {
    height: 1020px;
    @include media-breakpoint-down(sm) {
      height: 670px;
    }
    video {
      height: auto!important;
    }
  }

  &.main:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #18181E;
    opacity: 0.3;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%; // landing real-time 때문에 auto에서 변경
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);

    @include media-breakpoint-up(fhd) {
      height: auto;
    }

    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
}

.hide {
  display: none !important;
}

.no-select, input[type=range],
input[type=range] + .thumb {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 정렬 - Style */
/* 수직정렬 반드시 요소의 상위 박스에 높이값이 있어야함 */
.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-align {
  text-align: left !important;
}

.right-align {
  text-align: right !important;
}

.center-align {
  text-align: center !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Selection */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}

/* Form */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  color: $color-default-black;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: $color-white;
  border: 1px solid #dddde3;
}

.control-radio .control-indicator {
  border-radius: 50%;
}

.control-checkbox .control-indicator {
  border-radius: 3px;
}

.control {
  input {
    &:checked ~ .control-indicator {
      border: 1px solid #69afff;
      background: #69afff url('~static/images/common/check_on.svg') no-repeat -1px center;
    }
    &:checked:disabled ~ .control-indicator {
      border: none;
      background: url('~static/images/common/ui_check.svg') no-repeat 100% center;
    }
  }

  input {
    &:disabled ~ .control-indicator {
      background: #dddde3;
      pointer-events: none;
    }
  }
}

.control-indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control-indicator:after {
  display: block;
}

.control-checkbox {
  input:disabled ~ .control-indicator:after {
    border-color: #7b7b7b;
  }
}

.control-radio {
  padding-left: 30px !important;

  input {
    &:checked ~ .control-indicator {
      border: 1px solid #69afff;
      background: #69afff url('~static/images/common/radio_on.svg') no-repeat center center;
    }
  }

  input:disabled ~ .control-indicator:after {
    background: #7b7b7b;
  }
}

/* Select Box */
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  margin: 0 10px;
  padding: 5px 12px !important;
}

.selectize-dropdown .active {
  margin: 0 10px;
  background-color: #7BAEE8 !important;
  border-radius: 3px;
  color: #fff !important;
}

.selectize-input {
  height: 48px;
  line-height: 48px !important;
  padding:0 !important;
  border: 0 none !important;
  border-bottom: 1px solid #C3C3CD !important;
  border-radius: 0 !important;
  outline: 0 none !important;
}

.selectize-input.focus {
  border-color:#fff !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  border-bottom: 1px solid #C3C3CD !important;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
  margin-top: 7px !important;
  border: 1px solid rgba(240, 240, 240, 1) !important;
  border-radius: 3px !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) !important;
}

input[type="text"].form_input,
input[type="password"].form_input,
textarea.form_input {
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.3px !important;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="text"].form_input,
input[type="password"].form_input {
  width: 260px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 2px;
  background-color: #FFFFFF;
  border: 0 none;
  border-radius: 0;
  border-bottom: 1px solid #C3C3CD;
  box-shadow: none;

  &:focus {
    border-bottom: 1px solid #4E5155;
  }

  &.input-validation-successbar {
    color: #7BAEE8;
    border-bottom: 2px solid #7BAEE8;
  }

  &.input-validation-error {
    color: #F25454;
    border-bottom: 2px solid #F25454;
  }

  button {
    line-height: 100%;
  }
}

.help {
  &.is-danger {
    text-align: left;
    background:url('~static/images/common/tip.svg') no-repeat 0 0;
    padding-left: 12px;
  }

  &.is-info {
    text-align: left;
    background:url('~static/images/common/available.svg') no-repeat left center;// 모바일에서 하단 잘리는 버그로 수정
    padding-left: 20px;
  }
}

input.form_input {
  &.is-danger {
    color: $color-red !important;
    border-bottom: 2px solid $color-red !important;
  }
}

/* error message */
.error {
  margin: 14px 0 0 20px;
  padding-left: 8px;
  color: #232328;
  font-size: 11px;
  background:url('~static/images/common/tip.svg') no-repeat 0 0;
}

.stripe {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  background-color:transparent;
  background-image: url('~static/images/common/tip.svg');
  background-repeat:no-repeat;
  vertical-align: middle;
  zoom: 1;
}

.icon_facebook {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: url('~static/images/common/facebook_none.svg') no-repeat center center;

  &:hover,
  &:focus {
    background: url('~static/images/common/facebook_over.svg') no-repeat center center;
  }
}

.icon_twitter {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: url('~static/images/common/twitter_none.svg') no-repeat center center;

  &:hover,
  &:focus {
    background: url('~static/images/common/twitter_over.svg') no-repeat center center;
  }
}

.icon_instagram {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: url('~static/images/common/instagram_none.svg') no-repeat center center;

  &:hover,
  &:focus {
    background: url('~static/images/common/instagram_over.svg') no-repeat center center;
  }
}

.icon_youtube {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: url('~static/images/common/youtube_none.svg') no-repeat center center;

  &:hover,
  &:focus {
    background: url('~static/images/common/youtube_over.svg') no-repeat center center;
  }
}

.path-link {
  color:$color-blue;
}

.pd5 {
  padding-top: 5px;
}


.selectize-dropdown-content {
  padding: 10px 0 !important;

}


// pagination
.paginate {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 0 0;
  clear: both;

  a {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    margin: 0 4px;
    line-height: 25px;
    color: #232328;
    text-align: center;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;

    &.selected {
      background-color: #9b9b9b;
      color: #fff;
    }

    img {
      vertical-align: middle;
    }
  }

}

// download version title box
.download-ver {
  position: relative;
  width:180px;
  height: 180px;
  padding: 40px 0 28px 0;
  background-color: #232328;
  border-radius: 5px;
  text-align: center;
  z-index: 10;

  .download-ver-txt {
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 32px;

  }
}

// user story video popup
.userStoryVideo {
  background: url('~static/images/common/loading_page.svg') no-repeat center;
}

.btn-close-movie {
  position: absolute;
  top: -25px;
  right: 0px
}

.userStoryPopup {
  .playButton {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('~static/images/common/img_users_play.svg') no-repeat center;
    text-indent: -9999px;
  }

  .btn-close-movie {
    right: 10px;

    img {
      width: 15px;
      height: 15px;
    }

  }
}

// responsive video
.videoResponsive.embed-responsive {
  display: inline-block;
  width: calc(100vh * 1.5);
  max-width: 96%;
  //max-width: 1440px;
  margin-top: 15px;
  vertical-align: middle;

  &:before {
    display: none;
  }

  video {
    position: static;
  }

}



@include media-breakpoint-down(lg) {

  .help {
    font-size: 9px
  }
  /* HEAD 공통 Style */
  .top-btn-box {
    display:none;
  }

  /* input */
  input[type="text"].form_input,
  input[type="password"].form_input {
    width: 180px;
    height: 38px;
    line-height: 38px;
    letter-spacing: 0px;
  }

  .control {
    font-size: 11px;
    line-height: 12px;
    padding-top: 3px;
    padding-left: 25px;
  }

  .control-indicator {
    height: 18px;
    width: 18px;
  }

}

@include media-breakpoint-down(sm) {
  .goToTopBtn {
    bottom: 50px !important;
  }
}

/*section padding*/
.section-pad {
  padding-top: 40px;
  padding-bottom: 70px;
  @include media-breakpoint-up(md) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.container-max-xxl {
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xxl);
  }
}

/* sub visual text area - common */
.sub-visual-txt-area {
  padding-top: 160px;
  text-align: center;
}

h2.sub-visual-txt-title {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 15px;
}

h2.sub-visual-txt-title-small {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 15px;
}


p.sub-visual-txt-spot {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 12px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.bracket {
  position: relative;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 8px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 8px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
}



// trial box
.pricing-trial-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  //height: 250px;
  padding: 55px 0;
  color: #fff;
  background: url('~static/images/sub/bg_trial.jpg') no-repeat 0 0;
  background-size: cover;
  text-align: center;

  .pricing-trial-box-inner {

    > h2 {
      padding-top: 4px;
      font-size: 30px;
      font-weight: 300;
      line-height: 32px;
    }

    p.pricing-download-txt-spot {
      color: #fff;
      padding: 12px 0 30px;
      font-size: 13px;
      line-height: 18px;
      clear: both;

      a.login-path-link {
        color: $color-blue;
      }
    }

    p.pricing-trial-txt-spot {
      float: right;
      padding: 10px 30px 0 0;
      font-size: 10px;
    }

    .btn-trial-down {
      width: 200px;
      clear: both;
      font-weight: 400;
    }

  }
}

@include media-breakpoint-down(lg) {
  .bracket {
    margin-bottom: 15px;
    border: none;
  }
  .bracket:before,
  .bracket:after {
    display: none;
  }

  .pricing-trial-box {
    margin-top: 10px;
    padding: 24px 40px;

    .pricing-trial-box-inner {
      background: none;

      > h2 {
        font-size: 22px;
        line-height: 26px;
      }

      p.pricing-download-txt-spot {
        float: left;
        text-align: left;

        a.login-path-link {
          color: #4d74ab;
        }
      }

      p.pricing-trial-txt-spot {
        float: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .pricing-trial-box {
    margin-top: 10px;
    padding: 30px 0 27px 0;
    text-align: center;
    color: #fff;
    background: url('~static/images/sub/bg_trial.jpg') no-repeat 0 0;
    background-size: cover;

    .pricing-trial-box-inner {
      height: auto;

      > h2 {
        float: none;
        margin-bottom: 5px;
        padding: 0;
      }

      .pricing-trial-txt-spot {
        float: none;
        padding: 4px 0 0 0;
      }
    }
  }
}
// trial box end





@include media-breakpoint-down(md) {
  .sub-visual-txt-area {
    padding-top: 180px;
  }


  h2.sub-visual-txt-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 12px;
  }

  p.sub-visual-txt-spot {
    max-width: 460px;
    margin: 0 auto;
    padding-top: 12px;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
  }
}


@include media-breakpoint-down(sm) {

  .sub-header {
    position: relative;
    height: 670px;
    background-size: cover !important;

    .mobile-scroll {
      position: absolute;
      bottom: 15px;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      background: url('~static/images/common/ui_m_scroll.svg') no-repeat center 0;
      z-index:1;
    }
  }

  h2.sub-visual-txt-title {
    padding: 0 10%;
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 7px;
  }

  p.sub-visual-txt-spot {
    max-width: 280px;
    margin: 0 auto;
    padding-top: 12px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
  }
}






// 한국어, 중국어 스타일
body.ko,
body.zh {

  /* sub visual text area - common */
  .sub-visual-txt-area {
    padding-top: 160px;
    text-align: center;
  }

  h2.sub-visual-txt-title {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 15px;

    &.ko {
      font-size: 50px;
      font-weight: 100;
      line-height: 74px;
      letter-spacing: 0;
    }
  }

  p.sub-visual-txt-spot {
    margin: 0 auto;
    padding-top: 13px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.3px;
  }

  .btn-try {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .pricing-trial-box {
    font-weight: 400;
  }

  @include media-breakpoint-down(md) {
    .sub-visual-txt-area {
      padding-top: 180px;
    }


    h2.sub-visual-txt-title {
      color: #fff;
      font-size: 40px;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: 12px;

      &.ko {
        font-size: 42px;
        font-weight: 100;
        line-height: 62px;
        letter-spacing: 0;
      }
    }

    p.sub-visual-txt-spot {
      margin: 0 auto;
      padding-top: 13px;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      letter-spacing: 0;
    }
  }

  @include media-breakpoint-down(sm) {

    .sub-header {
      position: relative;
      height: 670px;
      background-size: cover !important;

      .mobile-scroll {
        position: absolute;
        bottom: 15px;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        background: url('~static/images/common/ui_m_scroll.svg') no-repeat center 0;
        z-index:1;
      }
    }

    h2.sub-visual-txt-title {
      padding: 0 10%;
      color: #fff;
      font-size: 24px;
      font-weight: 100;
      line-height: 32px;
      letter-spacing: 0;
    }

    p.sub-visual-txt-spot {
      max-width: 280px;
      margin: 0 auto;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}


// 모바일 공통 스타일
@include media-breakpoint-down(sm){
  button:hover,
  a:hover {
    background-color: transparent !important;
  }
  .btn-color-blue:hover {
    color: $color-blue !important;
  }
  .btn-color-white:hover {
    color: #fff !important;
  }
  .btn-color-black:hover {
    color: $color-black !important;
  }

  .account-box {
    max-width: 100%;
  }

  .select {
    position: relative;

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      right: 17px;
      margin-top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #333333 transparent transparent transparent;
    }

    select {
      -webkit-appearance: none;
    }
  }

}
